body{
	margin: 0;
	padding: 0;
	background-color: #000000;
	overflow: hidden;
}
h2,p{
    font-family: 'RobotoRegular';
    color: #FFFFFF;
}
/*CLASES GENERALES*/
.opacity{
	z-index: 10 !important;
	opacity: 1 !important;
}
.button-linkedin{
    background-color: #008FCC;
    padding: 10px;
    font-size: 16px;
    text-decoration: none !important;
    color: #fff !important;
    position: relative;
    padding-left: 45px;
}
.button-linkedin i{
    background-color: #0076B3;
    padding: 8.5px 10px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.display-flex{
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
.display-flex .mdl-container{
	overflow: hidden !important;
}
.mdl-button.button-arrow[disabled]{
	opacity: .5;
	cursor: no-drop;
}
.mdl-button.mdl-button--raised.button-confirmar[disabled]{
	opacity: .5;
	cursor: no-drop;
	background-color: #4983B6; 
	color: #FFFFFF;
}
/* BTN animation */
.button-next:after {
	content: '';
    mix-blend-mode: screen;
    position: absolute;
    top: 33px;
    left: 28px;
    width: 20px;
    height: 20px;
    background: #F8B749;
    opacity: 0;
    border-radius: 100%;
    transform-origin: 50% 50%;
}
@keyframes ripple {
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}
.button-next::after {
  animation: ripple 1.2s ease-out infinite;
  animation-delay: 1s;
}
/*ADMIN*/
.mdl-card-table{
	width: 100%;
	color: #757575;
}
.mdl-card-table .dataTables_filter{
    position: absolute;
    top: 0;
    right: 15px;
    margin-top: 15px;
}
.mdl-card-table .dt-buttons{
	padding: 15px;
}
.mdl-card-table .dt-buttons button{
	height: 38px;
}
.mdl-card-table .dt-buttons button .fa-file-excel-o{
	color: #207245;
}
div.dt-button-background{
	display:  none !important;
}
table.dataTable.no-footer{
	margin-bottom: 30px;
}
table thead tr{
	background-color: #f5f5f5;
}
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th{
	border-bottom-width: 0;
}
.dataTables_wrapper .dataTables_paginate{
    position: relative;
    right: 15px;
    bottom: 15px;
}
.dataTables_info{
	margin: 15px;
    padding: 0;
}
.dataTables_wrapper .dataTables_filter input{
	border-radius: 5px;
    border: 2px solid #a2a2a2;
    height: 30px;
}
.logo-table{
    max-width: 250px;
}
.button-logout{
	float: right;
	margin: 20px 0;
	background-color: #4983B6 !important;
	color: #FFFFFF !important;
    text-decoration: none !important;
    text-transform: initial;
}
.contenido-admin{
	margin-top: 100px;
}
.contenido-admin h2,
.contenido-admin p{
	color: #000000;
}
.contenido-admin h2{
	font-size: 32px;
	margin: 10px 0;
}
.contenido-admin .mdl-admin{
	width: 100%;
	max-width: 500px;
}
.contenido-admin .mdl-admin .form-group label{
	color: #000000;
}
.contenido-admin .mdl-admin button{
	background-color: #00A1E4;
    text-transform: initial;
    color: #FFFFFF;
    border-radius: 20px;
    font-family: 'RobotoMedium';
    width: 100%;
    max-width: 160px;
}
.admin-logout{
    background-color: transparent;
    color: #FFFFFF !important;
    text-transform: initial;
    font-family: 'RobotoMedium';
    padding: 0 14px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #000000;
	border-color: #000000;
}
.pagination>li>a, .pagination>li>span{
	color: #000000;
}
/*GENERAL*/
.window-center{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.mdl-container{
	max-width: 1350px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: max-width .3s ease-in-out, transform .3s ease-in-out;
	-moz-transition: max-width .3s ease-in-out, transform .3s ease-in-out;
	-ms-transition: max-width .3s ease-in-out, transform .3s ease-in-out;
	-o-transition: max-width .3s ease-in-out, transform .3s ease-in-out;
	transition: max-width .3s ease-in-out, transform .3s ease-in-out;
}
#content.mdl-container{
	position: relative;
	-webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
 	-o-transform: inherit;
	transform: inherit;
	margin: 50px auto;
	top: inherit;
	left: inherit;
}
.mdl-container-question{
	height: 100vh;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    position: relative;
}
.mdl-all-window{
	max-width: 100%;
	margin-right: 40px;
	margin-left: 40px;
}
/*OPACITY CONTENIDOS*/
.opacity-done.fadeOutRight,
.opacity-done{
	opacity: 0;
    z-index: -5;
}
.opacity-done.fadeInLeft,
.opacity-done.fadeInRight{
	z-index: 5;
}
/*LOGOS*/
.logo-home{
	-webkit-transition: max-width .3s ease-in-out;
	-moz-transition: max-width .3s ease-in-out;
	-ms-transition: max-width .3s ease-in-out;
	-o-transition: max-width .3s ease-in-out;
	transition: max-width .3s ease-in-out;
	width: 100%;
    max-width: 250px;
}
.bottom-right{
	position: absolute;
    right: 0;
    left: 0;
    bottom: 25px;
    text-align: center;
	display: none;
}
.bottom-right p{
    margin: 0;
    font-size: 16px; 
}
.background-body{
	height: 100vh;
	width: 100%;
	max-width: 300px;
	z-index: 1;
    position: absolute;
    right: 0;
    -webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.background-body .background-body1,
.background-body .background-body2,
.background-body .background-body3{
	height: 100%;
    width: 100%;
    max-width: 100px;
    float: right;
}
.background-body .background-body1{
	background-color: rgba(240, 171, 0, 0.4);
}
.background-body .background-body2{
	background-color: rgba(240, 171, 0, 0.7);
}
.background-body .background-body3{
	background-color: rgba(240, 171, 0, 1);
}
/*HEADER*/
.header-home{
	position: fixed;
    top: 0;
    width: 100%;
    padding: 40px;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	padding-right: 320px;
}
.header-home img{
	max-width: 160px;
}
.header-home .mdl-idioma{
	float: right;
	margin-top: 3px;
}
.fondo-bottom{
	position: absolute;
	bottom: 0;
	z-index: 0;
}
.fondo-bottom.fondo-partner{
    background: url(../img/fondo/fondo.png) repeat-x;
    width: 100%;
    background-size: 1000px;
    height: 240px;
    left: 0;
    right: 0;
    background-position: 2000px;
    transition: all .5s linear;
}
.fondo-bottom.fondo-partner.continue{
    animation: continue 8s;	
}
@keyframes continue{
	to{
		background-position: 0;
	}
}
.fondo-bottom img{
	width: 100%;
	max-width: calc(100% - 300px);
	-webkit-transition: max-width .3s linear;
	-moz-transition: max-width .3s linear;
	-ms-transition: max-width .3s linear;
	-o-transition: max-width .3s linear;
	transition: max-width .3s linear;
}
.img-bottom{
	background: url('../img/fondo/fondo.png') repeat-x;
}
.logo-bottom{
    position: fixed;
    bottom: 0;
    padding: 25px;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out .2s;
	-moz-transition: opacity .5s ease-in-out .2s;
	-ms-transition: opacity .5s ease-in-out .2s;
	-o-transition: opacity .5s ease-in-out .2s;
	transition: opacity .5s ease-in-out .2s;
    opacity: 0;
    width: 100%;
}
.logo-bottom.opacity{
	z-index: 5 !important;
}
.logo-bottom img{
	max-width: 160px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    padding-left: 20px;
    background-color: #000000;
    z-index: 5;
    -webkit-transition: opacity .5s ease-in-out .2s;
	-moz-transition: opacity .5s ease-in-out .2s;
	-ms-transition: opacity .5s ease-in-out .2s;
	-o-transition: opacity .5s ease-in-out .2s;
	transition: opacity .5s ease-in-out .2s;
    opacity: 0;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
}
.header-left{
	display: flex;
	align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.header-left img{
	width: 100%;
	max-width: 70px
}
.header-left p{
	font-size: 18px;
	margin: 0;
}
.header-right.none-idioma{
	max-width: 95px;
}
.header-right.none-idioma .button-home{
	margin-right: 10px;
}
.header-right{
    justify-content: flex-end;
    height: 68px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center
}
.header-right .mdl-idioma{
	float: left;
}
.header-right .background1,
.header-right .background2,
.header-right .background3{
    height: 100%;
    width: 100%;
    max-width: 25px;
    float: right;
}
.header-right .background1{
	background-color: rgba(240, 171, 0, 0.4);
}
.header-right .background2{
	background-color: rgba(240, 171, 0, 0.7);
}
.header-right .background3{
	background-color: rgba(240, 171, 0, 1);
}
.header-right .button-home{
	height: 24px;
	min-width: 24px;
    width: 24px;
    font-size: 20px;
}
.header-right .button-home i{
	color: #FFFFFF;
	font-size: 18px;
}
.header-right.eslogan h2{
	border: none;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    padding-left: 5px;
    padding-right: 12px;
    text-align: right;
}
.header-right.eslogan .background1,
.header-right.eslogan .background2,
.header-right.eslogan .background3{
	max-width: 10px;
}
.header h2{
	margin: 0;
	padding: 0;
	display: inline-block;
	border-left: 1px solid #FFFFFF;
	padding-left: 20px;
	vertical-align: middle;
    font-size: 21px;
}
.logo-header{
	max-width: 140px;
	margin-right: 20px;
}
.logo-partner{
	width: 100%;
    max-width: 120px;
    border-left: 1px solid #FFFFFF;
    padding-left: 20px;
    height: 32px;
}
/*BUTTONS NEXT - PREV*/
.button-next-prev{
	width: 100%;
}
.button-next-prev .button-arrow.button-next{
	display: block;
	right: calc(0% + 300px);
}
.button-arrow{
	display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 85px;
    height: 85px;
    background-color: transparent !important;
    box-shadow: none;
    z-index: 10;
}
.button-arrow.button-next{
	right: 0;
}
.button-arrow.button-left{
	left: 0;
}
.arrow{
	width: 0;
    height: 0;
    border-style: solid;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    margin: auto;
    cursor: pointer;
}
.arrow-right{
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #F8B22C;
}
.arrow-left{
	border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #F8B22C transparent transparent;
}
/*MDL-CONTAINER*/
.mdl-flex{
	display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	flex-direction: row;
}
/*HOME*/
#home{
	z-index: 6;
}
/*QUESTIONS*/
.question{
	margin-bottom: 30px;
}
span.number{
	color: #F8B22C;
    font-size: 60px;
    font-weight: 100;
    margin-right: 10px;
    display: inline-block;
}
.question h2{
	display: inline-block;
	text-align: left;
	margin: 0;
	font-size: 38px;
}
.question-respuestas{
	display: inline-block;
	text-align: left;
}
.question-respuestas h2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
}
.question-respuestas p{
	margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 32px;
    max-width: 800px;
    color: #FFFFFF;
}
.question-respuestas p span{
	color: #F8B22C;
}
/*FULLPAGE*/
.fp-controlArrow.fp-prev{
	border-color: transparent #F8B22C transparent transparent
}
.fp-controlArrow.fp-next{
	border-color: transparent transparent transparent #F8B22C;
}
/*MDL-CARD-QUESTION*/
.mdl-card-question{
	display: inline-block;
	max-width: 210px;
	margin: 5px;
	-webkit-transition: max-width .3s linear;
	-moz-transition: max-width .3s linear;
	-ms-transition: max-width .3s linear;
	-o-transition: max-width .3s linear;
	transition: max-width .3s linear;
}
.mdl-tablet .mdl-card-question{
	max-width: 230px;
}
.mdl-tablet .mdl-card-question .flip-card{
	width: 230px;
    height: 210px;
}
.mdl-card-question.visi-hidden{
	display: none;
}
.mdl-card-3{
	max-width: 190px;
}
.mdl-card-3 .flip-card{
	width: 190px;
}
.flip-card{
	position: relative;
	background-color: transparent;
	cursor: pointer;
	transform-style: preserve-3d;
    text-align: center;
	min-width: 100px;
	max-width: 400px;
	border-radius: 10px;
	width: 210px;
  	height: 200px;
}
.flip-card .card-front,
.flip-card .card-back {
	border: 1px solid #F8B22C;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 500ms;
	-o-transition: -o-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px rgba(14, 85, 143, 0.8);
	-webkit-box-shadow: 1px 1px 2px rgba(14, 85, 143, 0.8);
	box-shadow: 1px 1px 2px rgba(14, 85, 143, 0.8);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}
.mdl-card-confirmacion .mdl-respuestas,
.mdl-card-confirmacion .mdl-back-respuestas{
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 500ms;
	-o-transition: -o-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 100%;
}
.mdl-card-confirmacion .mdl-respuestas,
.flip-card .card-front {
	-moz-transform: perspective(600) rotateY(0);
	-webkit-transform: perspective(600) rotateY(0);
	transform: perspective(600) rotateY(0);
	z-index: 900;
}
.mdl-card-confirmacion .mdl-back-respuestas,
.flip-card .card-back {
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	z-index: 800;
	background-color: #F8B22C;
}
.mdl-card-confirmacion.confirmar .mdl-respuestas,
.flip-card:hover .card-front {
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-moz-transform: perspective(600) rotateY(180deg);
	-webkit-transform: perspective(600) rotateY(180deg);
	transform: perspective(600) rotateY(180deg);
}
.flip-card:hover .card-front.card-front-none{
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	cursor: default;
}
.mdl-card-confirmacion.confirmar .mdl-back-respuestas,
.flip-card:hover .card-back {
	z-index: 950;
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-transform: perspective(600) rotateY(0deg);
	-webkit-transform: perspective(600) rotateY(0deg);
	transform: perspective(600) rotateY(0deg);
}
.flip-card .card-back label{
    font-family: 'RobotoLight';
    color: #000000;
    line-height: 18px;
    font-size: 15px;
    padding: 22px 15px;
    height: 162px;
    text-align: left;
}
.flip-card .card-back p{
	font-family: 'RobotoBold';
	position: relative;
	bottom: 0;
}
.select-increment,
.content-card .mdl-button--raised.button-select,
.content-card .mdl-button--raised:hover{
    background-color: #F8B22C;
}
.content-card .mdl-button--raised{
	width: 100%;
    border-radius: 0;
    margin: 10px 0;
    color: #FFFFFF;
    font-family: 'RobotoBold';
    text-transform: initial;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #F8B22C;
    -webkit-transition: background-color .25s linear;
    -moz-transition: background-color .25s linear;
    -ms-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
    transition: background-color .25s linear;
}
.content-card .mdl-button--raised.select-tam{
	padding: 0 5px;
	margin: 0;
	margin-top: 10px;
}
.content-card .select-empleados{
	margin: 10px 0;
	border: 1px solid #F8B22C;
	height: 36px;
	-webkit-transition: background-color .25s linear;
    -moz-transition: background-color .25s linear;
    -ms-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
    transition: background-color .25s linear;
}
.content-card .select-empleados span{
	max-width: 115px;
    display: inline-block;
    width: 100%;
    font-family: 'RobotoBold';
    font-size: 16px;
    vertical-align: middle;
    line-height: 29px;
    color: #FFFFFF;
}
.content-card .select-empleados button i{
	color: #FFFFFF;
}
.content-card .contenido{
	border-top: 1.5px solid #FFFFFF;
	border-bottom: 1.5px solid #FFFFFF;
    padding: 5px 0;
    -webkit-transition: opacity .25s linear, transform .25s linear;
    -moz-transition: opacity .25s linear, transform .25s linea;
    -ms-transition: opacity .25s linear, transform .25s linea;
    -o-transition: opacity .25s linear, transform .25s linea;
    transition: opacity .25s linear, transform .25s linea;
    opacity: 0;
    transform: translateY(100px);
}
.content-card .contenido.aparecer{
	opacity: 1;
    transform: translateY(0);
}
.content-card .contenido-left{
	width: 39px;
	display: inline-block;
	vertical-align: middle;
}
.content-card.bottom .contenido-left{
	vertical-align: bottom;
	width: 30px;
}
.content-card .contenido-left img{
	max-width: 42px;
}
.content-card.bottom .contenido-left img{
	max-width: 35px;
	height: 75px;
}
.content-card.bottom .contenido-right{
	width: calc(100% - 35px);
}
.content-card .contenido-right{
	width: calc(100% - 43px);
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
#ModalQuestion .mdl-card .mdl-card__supporting-text h2,
.content-card .contenido-right h2{
	font-size: 17px;
    font-family: 'RobotoBold';
    margin: 5px 0;
    line-height: 20px;
}
.content-card .contenido-right p{
    line-height: 14px;
    font-size: 12px;
    height: 106px;
}
.content-card.bottom .contenido-right p{
	height: 106px;
}
.mdl-card-3 .content-card .contenido-right p{
	height: 76px;
}
.content-card .contenido-right small{
	font-family: 'RobotoLight';
    font-size: 10px;
    font-style: italic;
    color: #FFFFFF;
}
.mdl-card-question .card-front img{
	width: 100%;
	max-width: 135px;
    margin: 20px auto 10px;
}
.mdl-card-question .card-front p{
    color: #FFFFFF;
    line-height: 18px;
    font-size: 14px;
    max-width: 178px;
    margin: auto;
}
.mdl-card-question .card-back i,
.mdl-card-question .card-front i,
.mdl-card__menu{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #FFFFFF;
	font-size: 15px;
}
/*BOOTSTRAP-SELECT*/
.mdl-idioma .bootstrap-select .dropdown-menu>li>a{
	-webkit-transition: background-color .25s linear;
	-moz-transition: background-color .25s linear;
	-ms-transition: background-color .25s linear;
	-o-transition: background-color .25s linear;
	transition: background-color .25s linear;
}
.mdl-idioma .bootstrap-select .dropdown-menu>li>a:focus, 
.mdl-idioma .bootstrap-select .dropdown-menu>li>a:hover{
    background-color: #FDB917;
    outline: none;
}
.bootstrap-select .btn-default.active, 
.bootstrap-select .btn-default:active, 
.bootstrap-select.open>.dropdown-toggle.btn-default,
.bootstrap-select .btn-default:focus,
.bootstrap-select .btn-default{
	background-color: transparent;
	border: none;
    color: #FFFFFF;
    outline: none !important;
}
.mdl-select.mdl-standar .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}
.mdl-select.mdl-standar .bootstrap-select .btn-default{
	background-color: #FFFFFF;
	color: #757575;
    height: 46px;
	border-radius: 0;
}
.mdl-idioma .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 118px;
}
.mdl-tablet .mdl-select .bootstrap-select .btn-default.active, 
.mdl-tablet .mdl-select .bootstrap-select .btn-default:active, 
.mdl-tablet .mdl-select .bootstrap-select.open>.dropdown-toggle.btn-default,
.mdl-tablet .mdl-select .bootstrap-select .btn-default:focus,
.mdl-tablet .mdl-select .bootstrap-select .btn-default{
	border: 1px solid #F8B22C;
	border-radius: 0;
	color: #FFFFFF;
}
.mdl-tablet .mdl-select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 210px;
}
.mdl-tablet .mdl-select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 230px;
}
.mdl-tablet .mdl-select .bootstrap-select.btn-group .dropdown-menu li a,
.mdl-tablet .mdl-select .bootstrap-select.btn-group .dropdown-toggle .filter-option{
	text-align: center;
	color: #FFFFFF;
    font-family: 'RobotoBold';
    font-size: 15px;
    outline: none;
}
.mdl-tablet .mdl-select .bootstrap-select.btn-group .dropdown-toggle .filter-option{
	font-size: 16px;
}
.mdl-tablet .mdl-select .bootstrap-select.btn-group .dropdown-menu li{
    border: 1px solid #F8B22C;
    margin: 3px 0;
}
.mdl-tablet .mdl-select .bootstrap-select.btn-group .dropdown-menu{
	background-color: #000000;
	padding: 0;
	margin: 0;
}
.mdl-select .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color: #F8B22C;
}
.mdl-select.mdl-standar .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	color: #FFFFFF;
}
.mdl-select .dropdown-menu>li>a{
    padding: 6px 10px;
    -webkit-transition: background-color .25s linear;
    -moz-transition: background-color .25s linear;
    -ms-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
    transition: background-color .25s linear;
}
.mdl-select{
    margin: 10px 0;
}
.mdl-select.mdl-standar{
	margin: 5px 0;
}
/*BARRA SCROLL*/
::-webkit-scrollbar {
	width: 4px;
	height: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 10px;
}
.mdl-respuestas::-webkit-scrollbar{
	width: 2px;
}
.mdl-respuestas::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #888;
}
.mdl-respuestas::-webkit-scrollbar-track{
    border-radius: 10px;
    background: #eee;
}
.mdl-respuestas:HOVER::-webkit-scrollbar-thumb{
	background-color: #aaa;
	opacity: 1;
} 
/*ModalQuestion*/
#ModalQuestion .modal-content{
	background-color: #000000;
}
#ModalQuestion .mdl-card{
	display: inline-block;
	background-color: #000000;
	max-width: 300px;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}
#ModalQuestion .mdl-card .mdl-card__title{
    width: 85px;
    display: inline-block;
    vertical-align: middle;
} 
#ModalQuestion .mdl-card .mdl-card__title img{
	width: 100%;
    max-width: 50px;
}	
#ModalQuestion .mdl-card .mdl-card__supporting-text{
    width: calc(100% - 90px);
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    text-align: left;
}
#ModalQuestion .mdl-card .mdl-card__supporting-text p{
    line-height: 16px;
    font-size: 14px;
    height: 140px;
}
#ModalQuestion .mdl-card .mdl-card__menu button i{
	color: #FFFFFF;
}
#ModalPoliticas .modal-dialog{
	max-width: 320px;
}
#ModalPoliticas .mdl-card{
	width: 100%;
}
#ModalPoliticas .mdl-card__title h2{
	color: #000000;
	font-size: 24px;
	margin: 5px 0;
}
#ModalPoliticas .mdl-card__suppoerting-text{
	width: 100%;
}
#ModalPoliticas .mdl-card__actions{
	text-align: right;
	padding: 16px;
}
#ModalPoliticas .mdl-card__actions button{
	text-transform: initial;
	font-family: 'RobotoMedium';
}
.modal.fade .modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 300px;
    width: 100%;
}
.modal.fade.in .modal-dialog{
	opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*FORMULARIO*/
.mdl-formulario,
.mdl-respuestas{
	border-radius: 10px;
	border: 1px solid #F8B22C;
    padding: 25px;
}
.mdl-formulario.disabled{
	opacity: 0.3;
    pointer-events: none;
}
.contenedor-respuestas{
	overflow-y: scroll;
	height: 280px;
}
.mdl-formulario,
.mdl-card-confirmacion{
	display: inline-block;
	margin: 5px;
}
.mdl-back-respuestas{
	text-align: left;
    padding: 0 15px;
    background-color: transparent !important;
}
.mdl-back-respuestas .mdl-back-contenido{
	padding: 15px 0;
}
.mdl-back-respuestas .mdl-back-contenido.second{
	border-top: 1px solid #F8B22C;
	border-bottom: 1px solid #F8B22C;
}
.mdl-back-respuestas span{
	font-size: 45px;
    font-family: 'RobotoBold';
    color: #F8B22C;
    line-height: 48px;
}
.mdl-back-respuestas p{
	font-size: 18px;
	margin: 0;
    line-height: 22px;
}
.mdl-back-respuestas small{
	width: 100%;
    display: inline-block;
    font-style: italic;
    color: #FFFFFF;
}
.mdl-card-confirmacion{
	max-width: 400px;
	width: 100%;
	display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    height: 417px;
    vertical-align: top;
    -webkit-transition: max-width .3s ease-in-out;
    -moz-transition: max-width .3s ease-in-out;
    -ms-transition: max-width .3s ease-in-out;
    -o-transition: max-width .3s ease-in-out;
    transition: max-width .3s ease-in-out;
}
.mdl-formulario{
    width: 100%;
    max-width: calc(100% - 580px);
    -webkit-transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
    -moz-transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
    -ms-transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
    -o-transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
    transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
}
.mdl-agradecimiento{
    opacity: 0;
    display: none;
    max-width: 850px;
    text-align: center;
    margin: auto;
}
.second-eslogan{
	position: absolute;
	top: 0;
}
/*.first-eslogan.fadeOutLeft,*/
.second-eslogan{
	opacity: 0;
    display: none;
}
.second-eslogan.fadeInRight,
.mdl-agradecimiento.fadeInRight{
	display: block;
}
.mdl-agradecimiento h2{
    font-family: 'RobotoBold';
    color: #F8B22C;
    font-size: 60px;
    margin-bottom: 20px;
}
.mdl-agradecimiento p{
    font-size: 28px;
    line-height: 32px;
}
.title-formulario{
	font-size: 20px;
    margin: 0;
    line-height: 24px;
}
.div-respuestas{
	background-color: #FFFFFF;
	color: #000000;
	margin: 5px 0;
    padding: 8px 5px 8px 15px;
    display: flex;
    align-items: center;
}
.div-respuestas ul{
    display: inline-block;
    max-width: calc(100% - 85px);
    width: 100%;
    margin: 0;
    font-family: 'RobotoRegular';
    font-size: 15px;
    line-height: 18px;
    vertical-align: middle;
    padding-left: 15px;
}
.div-respuestas button{
    color: #4983B6;
    text-transform: initial;
    font-family: 'RobotoBold';
    font-size: 15px;
    box-shadow: none;
    height: 30px;
    line-height: 32px;
    vertical-align: middle;
    background-color: transparent;
    -webkit-transition: background-color .2s linear, color .2s linear;
    -moz-transition: background-color .2s linear, color .2s linear;
    -ms-transition: background-color .2s linear, color .2s linear;
    -o-transition: background-color .2s linear, color .2s linear;
    transition: background-color .2s linear, color .2s linear;
}
.div-respuestas button:HOVER{
	background-color: #4983B6;
	color: #FFFFFF;
}
.button-confirmar:hover{
	background-color: #4983B6;
}
.button-confirmar{
	background-color: #4983B6;
	color: #FFFFFF;
    text-transform: initial;
    font-family: 'RobotoBold';
    height: 30px;
    line-height: 32px;
}
.mdl-input{
	margin: 5px 0;
}
.mdl-input .form-control{
	border-radius: 0;
    height: 46px;
    padding: 6px 15px;
    font-size: 15px;
    font-family: 'RobotoRegular';
}
.mdl-formulario .col-sm-6{
	padding: 0 5px;
}
.mdl-formulario .mdl-radio__outer-circle{
	border: 2px solid #FFF;
    border-radius: 0;
}
.mdl-formulario .text-contacto{
    font-size: 14px;
    margin: 5px 0;
    line-height: 20px;
}
.mdl-formulario .mdl-label{
	padding: 0 5px;
}
.mdl-label .mdl-checkbox,
.mdl-formulario .mdl-radio{
	font-family: 'RobotoRegular';
}
.mdl-formulario .mdl-radio{
	font-size: 12px;
	color: #FFFFFF;
    font-weight: 100;
}
.mdl-formulario .col-xs-4{
	padding: 0 5px;
}
.mdl-formulario .content-datos{
	padding: 5px;
}
.mdl-formulario .content-datos .content-personal{
    display: inline-block;
    background-color: #F6F6F6;
    color: #000000;
    vertical-align: middle;
    padding: 7px 10px;
}
.mdl-formulario .content-datos .content-separacion p,
.mdl-formulario .content-datos .content-personal p{
	margin: 0;
}
.mdl-formulario .content-datos .content-personal p{
	color: #000000;
}
.mdl-formulario .content-datos .content-personal p i{
	vertical-align: middle;
    font-size: 18px;
    margin-right: 5px;
    color: #4983B6;
}
.mdl-formulario .content-datos .content-separacion{
	display: inline-block;
    vertical-align: middle;
    padding: 7px 10px;
}
.mdl-formulario .content-datos .content-linkedin{
	display: inline-block;
	vertical-align: middle;
}
/*COMPONENTES MATERIAL*/
.mdl-input-label{
	display: inline-block;
	width: 100%;
	max-width: 112px;
}
.mdl-label .mdl-checkbox{
    max-width: 235px;
}
.mdl-label .mdl-checkbox__label{
	font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    font-weight: 100;
}
.mdl-label .mdl-checkbox__label a{
	font-size: 14px;
}
.mdl-label .mdl-checkbox__label a{
	text-decoration: none;
	color: #4983B6;
}
.mdl-label .mdl-checkbox__box-outline{
    border: 2px solid #FFFFFF;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline,
.mdl-radio.is-checked .mdl-radio__outer-circle{
    border: 2px solid #4983B6;
}
.mdl-checkbox__ripple-container .mdl-ripple,
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline,
.mdl-radio__ripple-container .mdl-ripple,
.mdl-radio__inner-circle{
	background: #4983B6;
}
.js-label{
	height: 145px;
	margin: 5px 0;
}
.js-label span{
	font-family: 'RobotoBold';
}
.js-label span a{
    color: #008FD3 !important;
}
.js-label .mdl-checkbox__label{
	font-size: 14px;
	color: #000000;
	line-height: 18px;
    font-family: 'RobotoRegular';
    font-weight: 100;
}
/*CHAT*/
.chat{
    max-width: 150px;
    background-color: #1D8ACB;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    bottom: 10px;
    right: 100px;
    padding: 2px 5px;
    z-index: 10;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    display: none;
}
.chat a{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'RobotoRegular';
}
.chat img{
	max-width: 37px;
    width: 100%;
}
.chat label{
    margin: 0;
    font-family: 'RobotoRegular';
    font-weight: 100;
    width: 100%;
}
/*TOASTR*/
#toast-container{
	transform: translateY(20px);
	opacity: 0;
	-webkit-transition: all .218s ease-in-out;
	-moz-transition: all .218s ease-in-out;
	-ms-transition: all .218s ease-in-out;
	-o-transition: all .218s ease-in-out;
	transition: all .218s ease-in-out;
}
#toast-container .toast{
	background-color: #484848 !important;
	min-width: 300px;
    border-radius: 3px;
	padding: 15px 20px;
	overflow: inherit;
	margin: 0;
}
#toast-container.aparecer-toast{
	transform: translateY(0);
	opacity: 1;
}
#toast-container.desaparecer-toast{
	opacity:0;
}
.toast-bottom-left{
	bottom: 0;
	left: 0;
	padding: 30px;
}
.toast-bottom-right{
	bottom: 0;
	right: 0;
	padding: 30px;
}
.toast-bottom-left .close-toastr:HOVER{
	background-color: transparent;
}
.toast-bottom-left .close-toastr{
	line-height: 1;
}
.toast-bottom-left .close-toastr i{
	color: #FFF;
	line-height: 24px;
	font-size: 18px;
	vertical-align: middle;
}
/*TABLE*/
.table>thead>tr>th,
.table>tbody>tr>td{
	font-size: 13px !important;
}
@media (max-width: 1400px) and (max-height: 680px){
	.logo-home{
		max-width: 250px;
	}
	.title-home{
		margin-top: 10px;
	}
	.question{
		margin-bottom: 0;
	}
	.question h2{
		font-size: 30px;
	}
	span.number{
		font-size: 39px;
	}
	.question-respuestas p{
		font-size: 25px;
    	line-height: 24px;
	    max-width: 650px;
	}
	.dnone{
		display: none !important;
	}
}
@media (max-width: 1200px){
	.window-center.opacity-done .mdl-container.mdl-tablet{
		height: initial;
		overflow-y: initial;
	}
	.mdl-container .title-home {
        max-width: 420px;
    	font-size: 36px;
	}
	.mdl-container{
		max-width: 950px;
		padding-right: 20px;
		padding-left: 20px;
	}
	.window-center.opacity-done .mdl-container{
		overflow-y: scroll;
    	padding: 100px;
	}
	.mdl-all-window{
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.logo-home{
		max-width: 280px;
	}
	.mdl-card-question .contenido{
		display: none;
	}
	.mdl-card-confirmacion,
	.mdl-formulario{
		max-width: 100%;
	}
	.question{
	    max-width: 720px;
	    margin: 30px auto;
	    text-align: center;
	}
	.question h2{
	    max-width: 450px;
	    font-size: 32px;
	    line-height: 30px;
	}
	.question-respuestas p{
	    font-size: 28px;
    	line-height: 28px;
	}
	.question-respuestas{
		max-width: 550px;
	}
	.chat label{
		display: none;
	}
	.chat{
		max-width: 60px;
	    padding: 8px;
	    right: 15px;
	    bottom: 15px;
	}
	.button-next:after{
		top: 25px;
    	left: 25px;
	}
	.fondo-bottom.fondo-partner{
		background-size: 800px;
    	height: 200px;
	}
	.header-right.admin{
		max-width: 220px;
	}
}
@media (max-width: 768px){
	.logo-home{
		max-width: 250px;
	}
	.background-body{
		max-width: 180px;
	}
	.background-body .background-body1, 
	.background-body .background-body2, 
	.background-body .background-body3{
		max-width: 60px;
	}
	.button-next-prev .button-arrow.button-next{
    	right: calc(0% + 180px);
	}
	.fondo-bottom img{
		max-width: calc(100% - 180px);
	}
	.mdl-container{
		max-width: 750px;
	}
	.mdl-container.mdl-flex{
		overflow-x: scroll;
		max-width: 625px;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}
	.window-center.opacity-done .mdl-container{
		height: 100%;
	    padding: 100px 70px;
	}
	.logo-header{
		max-width: 120px;
	}
	.header h2{
		font-size: 18px;
	    max-width: 210px;
	    line-height: 18px;
	}
	.header-right .background1, 
	.header-right .background2, 
	.header-right .background3{
		max-width: 20px;
	}
	.header-home{
		padding-right: 190px;
	}
	.header-right{
		max-width: 180px;
		height: 76px;
	}
	.bottom-right{
		max-width: 300px;
	}
	.question{
		margin-bottom: 20px;
	}
	span.number{
		font-size: 40px;
	}
	.question h2{
	    font-size: 22px;
		line-height: 22px;
	    max-width: 400px;
	}
	.question-respuestas{
	    max-width: 420px;
	}
	.button-arrow{
	    width: 70px;
    	height: 70px;
	}
	.arrow-right{
	    border-width: 30px 0 30px 25px;
	}
	.arrow-left{
		border-width: 30px 25px 30px 0;
	}
	.question-respuestas p{
		font-size: 19px;
	    text-align: left;
	    line-height: 20px;
	}
	.logo-bottom{
		background-color: #000000;
		width: 100%;
	    padding: 20px 25px;
	}
	.mdl-agradecimiento{
		max-width: 650px;
	}
	.mdl-back-respuestas{
		padding: 5px;
	}
	.logo-bottom.opacity{
		z-index: 10 !important;
	}
}
@media (max-width: 650px){
	.window-center.opacity-done .mdl-container {
	    padding: 60px 70px;
	}
	.mdl-container .title-home{
		max-width: 315px;
	    font-size: 28px;
    	line-height: 30px;
	}
	.fondo-bottom img {
	    max-width: calc(100% - 120px);
	}
	.logo-bottom,
	.header-left,
	.header-home{
		padding: 12px 0 12px 12px;
	}
	.logo-home {
	    max-width: 250px;
	}
	.logo-header{
		max-width: 75px;
	    margin-right: 5px;
	}
	.header h2{
	    font-size: 12px;
	    max-width: 132px;
	    line-height: 14px;
	    padding-left: 5px;
	}
	.header-home{
		padding-right: 125px;
	}
	.header-right.none-idioma{
		max-width: 42px;
	}
	.header-right{
		max-width: 105px;
		height: 52px;
	}
	.header-right .button-home{
		margin-right: -10px;
	}
	.header-right .bootstrap-select>.dropdown-toggle{
		padding-right: 15px;
	}
	.header-right .bootstrap-select.btn-group .dropdown-toggle .caret{
		right: 5px;
	}
	.background-body{
		max-width: 120px;
	}
	.header-right .background1, 
	.header-right .background2, 
	.header-right .background3{
		max-width: 3px;
	}
	.mdl-idioma .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
		width: 85px;
	}
	.mdl-idioma .bootstrap-select.btn-group .dropdown-toggle .filter-option,
	.mdl-idioma .bootstrap-select.btn-group .dropdown-menu li a span.text{
		font-size: 13px;
	}
	.background-body .background-body1, .background-body .background-body2, .background-body .background-body3{
		max-width: 40px;
	}
	.button-next-prev .button-arrow.button-next{
		right: calc(0% + 120px);
	}
	.question h2{
	    max-width: 250px;
	    line-height: 24px;
	    margin: 0;
	}
	.mdl-formulario .content-datos .content-linkedin{
		width: 100%;
	}
	.mdl-formulario .content-datos .content-separacion,
	.mdl-formulario .content-datos .content-personal{
		margin-bottom: 10px;
	}
	.button-linkedin{
		display: inline-block;
	    width: 100%;
	}
	.button-linkedin i{
		padding: 11px;
	}
	.header-right.admin{
		max-width: 165px;
	}
}
@media (max-width: 420px){
	.window-center.opacity-done .mdl-container{
	    padding: 60px 25px;
	}
	.window-center.opacity-done .mdl-container.mdl-tablet{
		overflow-y: scroll;
		height: 100%;
	}
	.mdl-container{
		padding-right: 20px;
		padding-left: 20px;
	}
	.mdl-container .title-home{
        max-width: 245px;
	    font-size: 22px;
	    line-height: 26px;
	}
	.mdl-container.mdl-all-window{
		padding-right: 0;
		padding-left: 0;
		margin-left: 20px;
		margin-right: 20px;
	}
	.fondo-bottom img{
		max-width: calc(100% - 60px);
	}
	.mdl-container.mdl-flex{
		max-width: 260px;
	}
	.background-body{
		max-width: 60px;
	}
	.background-body .background-body1, 
	.background-body .background-body2, 
	.background-body .background-body3{
		max-width: 20px;
	}
	.header-home {
	    padding-right: 60px;
	}
	.logo-home{
		max-width: 200px;
	}
	.logo-bottom img{
		max-width: 120px;
	}
	.question{
	    margin: 10px auto;
    	max-width: 270px;
	}
	.question h2{
		max-width: 145px;
	    font-size: 14px;
	    line-height: 14px;
	    text-align: left;
	}
	.question h2.unique{
		max-width: 180px;
	}
	.question-respuestas p{
		font-size: 16px;
	    text-align: center;
	    line-height: 15px;
	}
	.title-formulario{
		font-size: 16px;
	    line-height: 16px;
	}
	.mdl-flex{
		display: inline-block;
	}
	span.number{
	    font-size: 28px;
	}
	.bottom-right{
        max-width: 135px;
	    bottom: 10px;
	    right: 20px;
	    left: initial;
	    text-align: right;
	}
	.bottom-right p{
	    font-size: 13px;
    	line-height: 14px;
	}
	.button-next-prev .button-arrow.button-next{
		right: calc(0% + 60px);
	}
	.button-arrow{
        width: 45px;
	    height: 55px;
	    min-width: 45px;
	}
	.arrow-right{
	    border-width: 25px 0 25px 20px;
	}
	.arrow-left{
		border-width: 25px 20px 25px 0;
	}
	.mdl-agradecimiento{
	    max-width: 300px;
	    padding: 150px 0;
	}
	.mdl-agradecimiento h2{
	    font-size: 30px;
	}
	.mdl-agradecimiento p{
		font-size: 18px;
    	line-height: 22px;
	}
	.mdl-formulario, .mdl-respuestas{
		padding: 15px;
	}
	.mdl-back-respuestas span{
	    font-size: 36px;
        line-height: 36px;
	}
	.mdl-back-respuestas p{
	    line-height: 20px;
	}
	.chat{
	    right: 10px;
	    bottom: 10px;
	    padding: 5px;
	    max-width: 50px;
	}
	.chat img{
		max-width: 40px;
	}
	.button-next:after {
        top: 22px;
	    left: 15px;
	    width: 12px;
	    height: 12px;
	}
	.fondo-bottom.fondo-partner{
		background-size: 450px;
    	height: 120px;
	}
}	
@media(max-width: 320px){
	.mdl-container {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.mdl-container .title-home{
	    max-width: 210px;
	    font-size: 20px;
	    line-height: 22px;
	}
	.fondo-bottom img{
		max-width: calc(100% - 45px);
	}
	.logo-bottom, .header-left, .header-home{
	    padding: 15px 0 15px 15px;
	}
	.header-home{
		padding-right: 50px;
	}
	.header-right{
		height: 58px;
	}
	.mdl-idioma .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	    width: 90px;
	}
	.bootstrap-select.btn-group .dropdown-toggle .caret{
		right: 8px;
	}
	.header-right{
		max-width: 100px;
	}
	.header-home img{
		max-width: 140px;
	}
	.logo-home{
		max-width: 180px;
	}
	.background-body .background-body1, .background-body .background-body2, .background-body .background-body3{
		max-width: 15px;
	}
	.background-body{
		max-width: 45px;
	}
	.button-next-prev .button-arrow.button-next{
		right: calc(0% + 45px);
	}
}
@media (max-width: 1140px) and (max-height: 900px){
	.mdl-card-question .contenido{
		display: none;
	}
}
@media (max-width: 420px) and (max-height: 640px){
	.mdl-card-question .contenido{
		display: none;
	}
}