body{
	margin: 0;
	padding: 0;
}
.mdl-textfield__label,p{
	font-family: 'RobotoRegular';
}
.card-content{
	background-color: #000000;
    width: 100%;
    max-width: calc(100% - 400px);
    float: left;
    display: inline-block;
    padding: 30px;
    height: 100vh;
    position: relative;
    -webkit-transition: max-width .3s linear;
    -moz-transition: max-width .3s linear;
    -ms-transition: max-width .3s linear;
    -o-transition: max-width .3s linear;
    transition: max-width .3s linear;
}
.card-login{
    background-color: #FFF;
    width: 100%;
    max-width: 400px;
    float: right;
    padding: 20px;
    height: 100vh;
    -webkit-transition: max-width .3s linear;
    -moz-transition: max-width .3s linear;
    -ms-transition: max-width .3s linear;
    -o-transition: max-width .3s linear;
    transition: max-width .3s linear;
}
.card-content .contenido{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.card-content .contenido h2{
	color: #FFFFFF;
    font-size: 32px;
    line-height: 1;
}
.contenido-top{		
	position: absolute;
	top: 20px;
	left: 20px;
}
.contenido-bottom{		
	position: absolute;
	bottom: 0;
	left: 0;
}
.contenido-bottom img{
	width: 100%;
}
.contenido-top img{
	width: 100%;
	max-width: 150px;
}
/*MDL-INPUT*/
.mdl-input {
    display: flex;
    align-items: center;
    margin: 15px 0;
    height: 68px;
}
.mdl-input .mdl-icon {
    width: 30px;
    margin-right: 5px;
}
.mdl-textfield__label:after {
    bottom: 15px;
    background-color: #000000;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, 
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, 
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	color: #000000;
}
.mdl-checkbox__ripple-container .mdl-ripple,
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
	background: #000000;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline{
	border: 2px solid #000000;
}
.mdl-card-login{
	width: 100%;
}
.mdl-card__title p{
	font-size: 16px;
	margin: 0;
}
.mdl-card__supporting-text{
	width: 100%;
}
#showpass{
	position: absolute;
    right: 0;
    text-decoration: none;
    display: none;
}
#input-password.is-dirty a{
	display: block;
}
.login-bottom{
	position: absolute;
    bottom: 20px;
    margin-left: 10px;
    color: #757575;
}
@media ( max-width: 1050px ){
	.logo-home{
		max-width: 280px;
	}
	.card-content .contenido h2{
		font-size: 28px;
	    max-width: 300px;
	    line-height: 30px;
	}
}
@media ( max-width: 768px ){
	.logo-home{
		max-width: 200px;
	}
	.card-content .contenido h2{
		font-size: 24px;
	    max-width: 280px;
	    line-height: 30px;
	}
	.card-login{
		max-width: 320px;
	}
	.card-content{
		max-width: calc(100% - 320px);
	}
}
@media ( max-width: 420px ){
	.card-content{
		display: none;
	}
	.card-login {
	    max-width: 100%;
	}
}
