$regular = 'BentonSansRegular'
$medium  = 'BentonSansMedium'
$bold    = 'BentonSansBold'

flexCenter()
	display flex
	display -webkit-flex
	align-items center
body
	margin 0
	padding 0
	overflow hidden
	overflow-y scroll
	font-family $regular 